<form (ngSubmit)="addTask()" #form="ngForm">
  <div>
    <label for="create[name]">Nom</label>
    <input id="create[name]" name="name" [(ngModel)]="newTask.name" required pattern="[a-zA-Z0-9 _-]*"
      #inputName="ngModel">
    <p class="pValid" [hidden]="inputName.valid || inputName.untouched">Vous ne pouvez utiliser que des lettre , des
      chiffre et des espaces</p>
  </div>
  <div>
    <label for="create[deadLine]">Echeance</label>
    <input type="date" id="create[deadLine]" name="deadline" [(ngModel)]="newTask.deadLine" required>
  </div>
  <div>
    <label for="create[status]">Statut</label>
    <select name="status" id="create[status]" [(ngModel)]="newTask.status" required>
      <option value="0">A faire</option>
      <option value="1">En cours</option>
      <option value="2">Fait</option>
    </select>
  </div>
  <button [disabled]="form.invalid">Encore du travail ?</button>
</form>